@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: Playwrite;
    src: url("./fonts/EduNSWACTCursive-VariableFont_wght.ttf");
}


body{
    background-color: aqua;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1{
      font-family: "Playwrite",sans-serif;
      font-size: 60px;
      font-weight:600;
}
#ma direita{
    text-align: right;
    text-align: end;
}
#na-esquerda{
     text-align: left;
    text-align: start;
}
#no-centro
{
     text-align: center;
}
#justificado{
      text-align: justify;
}
#minus{
    text-transform: lowercase;
}
#maius{
    text-transform: uppercase;
}
#capitalizado{
    text-transform: capitalize;
}
#decorado{
    text-decoration:line-through overline black;
}
.font-google{
     font-family: "Roboto",sans-serif;
      font-size: 60px;
      font-weight:600;
}
.font-pafrao{
     font-family: "Lucida Sans",sans-serif;
}


